* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.container {
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
}
.wrap1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#img {
  height: 100vh;
}
.img1 {
  width: 60%;
}
#imgCompleteIcon {
  width: 25%;
}
#thankYouForm {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
  font-size: 1.8em;
  color: rgb(247, 241, 240);
  text-align: center;
  display: none;
}

#thankYouForm h2,
h3 {
  margin-top: 0.2em;
  color: #66eb66;
}

.frontBackImageContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 17%;
  left: 12%;
}

.frontBackImageContainer > * {
  padding: 0.3em;
}

.formContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 1em;
  font-size: 1.8em;
  color: rgb(247, 241, 240);
}
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.form input {
  background: linear-gradient(135deg, #71b7e6, #fcfcfc);
  height: 3.3em;
  text-align: center;
  outline: none;
  border: none;
  border-radius: 1em;
}
.form label {
  font-size: 0.75em;
  text-transform: capitalize;
  text-align: center;
  padding-right: 1em;
}
.form input:focus {
  box-shadow: 2px 2px 5px greenyellow;
}
.pad {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  padding: 0.5em;
}

.confirmbtn {
  margin-top: 2px;
  padding: 0.7em;
  border: none;
  outline: none;
  border-radius: 1em;
  background: #8c00ff;
  color: white;
  font-size: 0.6em;
  width: 25em;
}
.conBtn {
  width: 20em;
  padding: 1em;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  border: none;
  outline: none;
  border-radius: 10px;
  color: white;
  font-size: 0.5em;
  margin-top: 0.4em;
}
.smfont {
  padding-left: 0.5em;
  font-size: 0.5em;
  color: #f0acc6;
}
.sizeName {
  width: 22em;
}
.sizeCard {
  width: 24.5em;
}
.MY {
  width: 9.8em;
}
.CVCInput {
  width: 29.5em;
}
.btnConfirm {
  text-align: center;
}

.BankName {
  position: absolute;
  top: 23%;
  left: 15%;
  text-shadow: 1px 1px 10px red;
  font-size: 1.5em;
}
.f {
  position: absolute;
  top: 35%;
  left: 9%;
  font-size: 1.3em;
  color: white;
}
.CardHolderName {
  position: absolute;
  top: 48%;
  left: 1%;
  color: white;
}
.MDate {
  position: absolute;
  top: 48%;
  left: 47%;
  color: white;
}
.YDate {
  position: absolute;
  top: 48%;
  left: 52%;
  color: white;
}
.CVCS {
  position: absolute;
  top: 75%;
  left: 36%;
}
.CVCNUMBER {
  position: absolute;
  top: 75%;
  left: 45%;
}
.Debit {
  position: absolute;
  top: 91%;
  left: 1%;
}
#date,
#clock {
  color: white;
}
@media screen and (min-width: 100px) and (max-width: 229px) {
  .frontBackImageContainer {
    padding: 0.45em;
    font-size: 0.25em;
  }
  #thankYouForm {
    width: 100%;
    margin: 0 auto;
    font-size: 1em;
    text-align: center;
  }
  .form label {
    font-size: 1em;
  }
  .formContainer {
    width: 100%;
    font-size: 0.7em;
  }
  .sizeName {
    width: 11.9em;
  }
  .sizeCard {
    width: 11.9em;
  }
  .MY {
    width: 1em;
  }
  .CVCInput {
    width: 12em;
  }
}
@media screen and (min-width: 230px) and (max-width: 369px) {
  .form label {
    font-size: 1.5em;
  }
  .frontBackImageContainer {
    padding: 0.45em;
    font-size: 0.5em;
  }
  #thankYouForm {
    font-size: 1em;
  }
  .formContainer {
    width: 100%;
    font-size: 0.7em;
  }
  .sizeName {
    width: 12em;
  }
  .sizeCard {
    width: 12em;
  }
  .MY {
    width: 0.2em;
  }
  .CVCInput {
    width: 12em;
  }
}
@media screen and (min-width: 370px) and (max-width: 425px) {
  .frontBackImageContainer {
    padding: 0.25em;
    font-size: 0.75em;
  }
  .formContainer {
    width: 100%;
    font-size: 1.5em;
  }
  .sizeName {
    width: 15em;
  }
  .sizeCard {
    width: 15em;
  }
  .MY {
    width: 1em;
  }
  .CVCInput {
    width: 15em;
  }
}
@media screen and (min-width: 426px) and (max-width: 870px) {
  .wrap1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #img {
    width: 70vw;
  }
  .frontBackImageContainer {
    margin-left: 1.4em;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (max-width: 480px) {
  .wrap1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #img {
    width: 80vw;
  }
  .frontBackImageContainer {
    margin-left: -1.9em;
  }
  .form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}
@media screen and (max-width: 1130px) {
  .pad {
    flex-direction: column;
    padding: 0.2em 0;
  }
  .fd > input {
    width: 13.8em;
  }
  .btnConfirm > button {
    width: 20em;
  }
}
@media screen and (min-width: 1275px) and (max-width: 1620px) {
  .frontBackImageContainer {
    left: 20%;
  }
}

@media screen and (min-width: 1621px) and (max-width: 2100px) {
  .frontBackImageContainer {
    left: 30%;
  }
  .container {
    zoom: 150%;
  }
}
/* .con{
  width: 75%;
  margin: 0 auto;
}
.body {
  padding: 0 45px;
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
#img {
  width: 476px;
  height: 624px;
}
.img1 {
  position: absolute;
  width: 310px;
  height: 200px;
}
#front {
  top: 120px;
  left: 170px;
}
#back {
  top: 360px;
  left: 197px;
}
.f {
  border: 1px solid white;
  width: 232px;
  height: 26px;
  position: absolute;
  top: 217px;
  left: 207px;
  color: white;
  letter-spacing: 4px;
  text-align: center;
  padding-top: 3px;
}
.BankName {
  font-size: 22px;
  position: absolute;
  top: 154px;
  left: 265px;
  color: white;
  text-shadow: 1px 1px 10px red;
}
.Debit {
  position: absolute;
  top: 535px;
  left: 202px;
  color: #000000;
}
.CVCNUMBER {
  position: absolute;
  top: 447px;
  left: 441px;
  color: #000000;
}
.CVCS {
  position: absolute;
  top: 447px;
  left: 400px;
  color: #000000;
}
.CardHolderName {
  position: absolute;
  top: 290px;
  left: 180px;
  color: white;
  letter-spacing: 1px;
}
.MDate {
  position: absolute;
  top: 289px;
  left: 425.9px;
  color: white;
}
.YDate {
  position: absolute;
  top: 289px;
  left: 443px;
  color: white;
}
input {
  height: 3em;
  text-align: center;
  border-radius: 5px;
  border-color: #0099ff;
  padding: 1.5em;
  /* font-family: cursive; */

/*
.confirmbtn {
  width: 29em;
  height: 3em;
  /* font-family: cursive; 
}
.NN {
  width: 28em;
  /* font-family: cursive; 
  font-size: 13px;
  font-weight: bolder;
}
.MY {
  width: 8em;
}
.CVCInput {
  width: 8em;
}
.frontBackImageContainer {
  position: absolute;
  top: -10px;
  left: -66px;
  width: 594px;
}
.formContainer {
  width: 50%;
  height: 39em;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 40px;
}
.thankYouForm {
  width: 50%;
  height: 625px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  display: none;
}
.Date {
  font-style: oblique;
  font-size: 25px;
  position: absolute;
  color: #ff7b00;
  left: 150px;
  top: 30px;
}
.clock {
  font-style: oblique;
  font-size: 25px;
  position: absolute;
  color: #ff7b00;
  left: 150px;
  top: 60px;
}
.h {
  font-size: 32px;
  margin-bottom: 18px;
  text-align: center;
}
.thankYouForm > * {
  padding: 10px;
}
#imgCompleteIcon {
  width: 240px;
}
.continue {
  font-size: 25px;
  padding: 12px;
}
.Inputname {
  padding: 2px;
}
.CardInput {
  padding: 2px;
}
.cardExp {
  padding: 2px;
}
.CVC {
  padding: 2px;
}
.wrap {
  display: flex;
  justify-content: space-around;
}
label {
  font-size: 27px;
  font-family: Courier New, Courier, monospace;
}
button {
  width: 220px;
  background-color: #0561c9;
  color: white;
  padding: 2px;
  border-radius: 10px;
}
button:hover {
  box-shadow: 1px 1px 5px #0561c9;
  color: #ffe600;
}
button:active {
  box-shadow: 0 0 10px #15ff00;
}
input:focus {
  color: #002ab3;
  border-color: red;
  box-shadow: 0px 0px 6px red;
}
button:focus {
  box-shadow: 0 0 10px #15ff00;
}

.smfont {
  font-size: 17px;
}
.errorMessage {
  font-size: 11px;
  color: lightcoral;
} */
